# Ex 1. For a given set of values in stats.xls that contains the list of employees, years of experience and their salary write a python script to calculate the mean, mode and median.

In [11]:
import pandas as pd
import numpy as np

In [12]:
stats=pd.read_excel('stats.xlsx')

In [13]:
stats.head()

   Emp#  YearsOfExp  Salary in Rs.
0     1          10         126015
1     2           1          12598
2     3           8         100639
3     4          10         125351
4     5           2          25031

In [14]:
stats.shape

(25, 3)

## Mean

In [15]:
stats[['YearsOfExp','Salary in Rs.']].mean()

YearsOfExp           6.2
Salary in Rs.    77821.2
dtype: float64

## Medain

In [16]:
stats[['YearsOfExp','Salary in Rs.']].median()

YearsOfExp           7.0
Salary in Rs.    87654.0
dtype: float64

## Mode

In [17]:
stats[['YearsOfExp','Salary in Rs.']].mode()

   YearsOfExp  Salary in Rs.
0          10         100639

# Ex2. For the above exercise determine the standard deviation and variance through python scripting.

## Standard Deviation

In [18]:
stats[['YearsOfExp','Salary in Rs.']].std()

YearsOfExp           3.175426
Salary in Rs.    39847.615281
dtype: float64

## Variance

In [19]:
stats[['YearsOfExp','Salary in Rs.']].var()

YearsOfExp       1.008333e+01
Salary in Rs.    1.587832e+09
dtype: float64