In [75]:
import pandas as pd
import numpy as np
import datetime
from sklearn.cluster import KMeans

In [76]:
data = pd.read_excel('Online Retail.xlsx')

In [77]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [78]:
# Dropping all records with empty values
data.dropna(inplace = True)
data.isna().any()

InvoiceNo      False
StockCode      False
Description    False
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID     False
Country        False
dtype: bool

In [79]:
# Removing negative values
data = data[data.Quantity >= 0]
data.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [80]:
# Based on some research on the net for this problem, the requirement here is to create a Recency-Frequency-Monetary matrix for each customer
# Recency: How recently the customer bought articles
# Frequency: How frequent is the customer
# Monetary: How much business in terms of money has the customer provided
# Hence a RFM matrix is generated
data['TotalPrice'] = data['Quantity'] * data['UnitPrice']
RFM = data.groupby('CustomerID').agg({'InvoiceDate' : lambda x : (datetime.datetime(2011,12,10) - x.max()).days,
                                      'InvoiceNo' : lambda x : len(x),
                                      'TotalPrice' : lambda x : x.sum()})
RFM.rename(columns = {'InvoiceDate' : 'Recency', 'InvoiceNo' : 'Frequency', 'TotalPrice' : 'Monetary'}, inplace = True)

In [81]:
RFM.head()

            Recency  Frequency  Monetary
CustomerID
12346.0         325          1  77183.60
12347.0           2        182   4310.00
12348.0          75         31   1797.24
12349.0          18         73   1757.55
12350.0         310         17    334.40

In [82]:
RFM.describe()

           Recency    Frequency       Monetary
count  4339.000000  4339.000000    4339.000000
mean     92.041484    91.708689    2053.793018
std     100.007757   228.792852    8988.248381
min       0.000000     1.000000       0.000000
25%      17.000000    17.000000     307.245000
50%      50.000000    41.000000     674.450000
75%     141.500000   100.000000    1661.640000
max     373.000000  7847.000000  280206.020000

In [83]:
# Now we give values from 1 -> 5 to each of the parameters for each of the customers
# Sorting based on Recenabscy
RFM = RFM.sort_values(by=['Recency'])
r = []
n = RFM.shape[0]

for i in range(0,int(n/5)):
    r.append(1)
for i in range(int(n/5),int(2*n/5)):
    r.append(2)
for i in range(int(2*n/5),int(3*n/5)):
    r.append(3)
for i in range(int(3*n/5),int(4*n/5)):
    r.append(4)
for i in range(int(4*n/5),n):
    r.append(5)
RFM['Recency'] = r
RFM['Recency'].describe()

count    4339.000000
mean        3.000461
std         1.414213
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Recency, dtype: float64

In [84]:
# Sorting based on Frequency in descending order for more relevance
RFM = RFM.sort_values(by=['Frequency'], ascending = False)
f = []

for i in range(0,int(n/5)):
    f.append(1)
for i in range(int(n/5),int(2*n/5)):
    f.append(2)
for i in range(int(2*n/5),int(3*n/5)):
    f.append(3)
for i in range(int(3*n/5),int(4*n/5)):
    f.append(4)
for i in range(int(4*n/5),n):
    f.append(5)
RFM['Frequency'] = f
RFM['Frequency'].describe()

count    4339.000000
mean        3.000461
std         1.414213
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Frequency, dtype: float64

In [85]:
# Sorting based on Monetary in descending order for more relevance
RFM = RFM.sort_values(by=['Monetary'], ascending = False)
m = []

for i in range(0,int(n/5)):
    m.append(1)
for i in range(int(n/5),int(2*n/5)):
    m.append(2)
for i in range(int(2*n/5),int(3*n/5)):
    m.append(3)
for i in range(int(3*n/5),int(4*n/5)):
    m.append(4)
for i in range(int(4*n/5),n):
    m.append(5)
RFM['Monetary'] = m
RFM['Monetary'].describe()

count    4339.000000
mean        3.000461
std         1.414213
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Monetary, dtype: float64

In [86]:
RFM.head()

            Recency  Frequency  Monetary
CustomerID
14646.0           1          1         1
18102.0           1          1         1
17450.0           1          1         1
16446.0           1          5         1
14911.0           1          1         1

In [87]:
# Applying the KMeans Clustering algorithm and fitting the model
kmeans = KMeans(n_clusters=4)
clusters = kmeans.fit_predict(RFM)

In [88]:
RFM['Clusters'] = clusters

In [89]:
RFM.head()

            Recency  Frequency  Monetary  Clusters
CustomerID
14646.0           1          1         1         3
18102.0           1          1         1         3
17450.0           1          1         1         3
16446.0           1          5         1         0
14911.0           1          1         1         3

In [101]:
# Number of customers in each cluster
RFM.groupby('Clusters').size()

Clusters
0     874
1    1229
2     934
3    1302
dtype: int64